body {
    margin: 0;
    background-image: url('../images/background3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 50px;
}

#canvas {
    display: none;
    background-color: lightgray;
}


