@import url("https://fonts.googleapis.com/css2?family=Finlandica:ital,wght@1,500&family=Roboto+Mono:wght@500&display=swap");

body {
  margin: 0;
  background-image: url("../images/backgroundgoku.webp");
  user-select: none;
  background-color: red;
  height: 100vh;
  min-height: 100%;
  cursor: url("../images/cursor.png"), auto;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

/** START-SCREEN **/
#start-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-image: url("../images/startscreen.gif");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  width: 800px;
  height: 600px;
  position: relative;
}

#menu-start {
  display: flex;
  flex-direction: row;
}

#menu-start ul {
  margin-top: 30px;
}

#menu-start li {
  list-style: none;
  margin-top: 200px;
  margin-right: 20px;
}

.btn {
  width: 130px;
  height: 40px;
  cursor: url("../images/cursor.png"), auto;
  transition: all 0.3s ease;
  margin-top: 10px;
  border-radius: 5px;
  font-family: "Roboto Mono", monospace;
  font-weight: 1000;
  font-size: 13px;
  text-align: center;
  background-color: #910232;
  color: white;
  text-shadow: 2px 2px black;
  border: 0.5px solid black;
  box-shadow: 0.2em 0.2em rgb(80, 45, 4);
}

.btn:hover {
  background-color: white;
  color: #910232;
  text-shadow: none;
  transform: scale(1.15);
}

/** INSTRUCTIONS-SCREEN **/
#instructions-screen {
  display: none;
  flex-direction: column;
  align-items: left;
  position: absolute;
  background-image: url("../images/gradient2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  width: 530px;
  height: 530px;
  box-shadow: 0.2em 0.2em rgb(80, 45, 4);
}

#instructions-screen ul li {
  display: flex;
  align-items: center;
  font-family: "Roboto Mono", monospace;
  font-size: 18px;
}

#instructions-screen ul li img {
  margin-right: 10px;
}

#instructions-screen ul li p {
  text-align: justify;
}

#instructions-screen .btn {
  background-image: none;
  background-color: transparent;
}

/** GAME-SCREEN **/
.characterUI {
  position: relative;
  display: none;
}

#timer {
  position: absolute;
  left: 42%;
  background-image: url("../images/woodsign.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 150px;
  opacity: 0;
  animation: move 7s ease-in-out;
}

/* @keyframes move {
  0% {
    transform: translateY(-90px);
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
} */

#timer h1 {
  color: black;
  font-weight: 500;
  text-align: center;
  font-family: "Roboto Mono", monospace;
  font-weight: bold;
}

.ki-health {
  position: absolute;
  top: 90%;
}

.health {
  position: relative;
  width: 230px;
  height: 17px;
  border: 2px solid black;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 2px;
  box-sizing: border-box;
}

.healthbar {
  background: rgb(255, 0, 0);
  background: linear-gradient(
    90deg,
    w rgba(255, 0, 0, 1) 0%,
    rgba(122, 37, 37, 1) 0%,
    rgba(255, 0, 0, 0.7931547619047619) 42%
  );
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  position: absolute;
}

.ki {
  position: relative;
  border: 2px solid black;
  margin-left: 10px;
  border-radius: 2px;
  height: 10px;
  width: 150px;
  margin-top: 2px;
}

.kibar {
  background: rgb(255, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(255, 0, 0, 1) 0%,
    rgba(38, 53, 102, 1) 0%,
    rgba(4, 10, 175, 0.7931547619047619) 42%
  );
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 0%;
  position: absolute;
}

.score {
  position: absolute;
  left: 85%;
  top: 90%;
}

.score span {
  font-size: 40px;
  color: #ffce00;
  -webkit-text-stroke: 1.5px black;
  margin-left: 10px;
}

#canvas {
  display: none;
  border-radius: 5px;
  border: 3px solid #910232;
}

/** GAMEOVER SCREEN **/

#gameover-screen {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: absolute;
  background-image: url("../images/gradient2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  width: 480px;
  height: 480px;
  box-shadow: 0.2em 0.2em rgb(80, 45, 4);
  font-family: "Roboto Mono", monospace;
  opacity: 1;
  animation: move 2s ease-in-out;
}

#gameover-screen h1, h3 {
  color: #910232;
  text-shadow: 1px 1px black;
}

#gameover-screen ol {
  margin-right: 30px;
}

#gameover-screen button {
  margin-right: 20px;
}

/* @keyframes move {
  0% {
    transform: translateY(-90px);
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
} */

